@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="//code.jquery.com/jquery-1.12.4.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- add thids links for the error message-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/css/toastr.css" />
<script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/js/toastr.js"></script>


<!--add this link for the datatable-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.csss" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js" integrity="sha256-4F7e4JsAJyLUdpP7Q8Sah866jCOhv72zU5E8lIRER4w=" crossorigin="anonymous"></script>


<meta name="viewport" content="width=device-width" />
<title>Master Client</title>



<h2>Master Client</h2>
<hr />
<style>
    .red_border {
        border: 1px solid #e46262;
    }

    .LoadingDiv {
        top: 0;
        left: 0;
        position: fixed;
        opacity: 0.97;
        z-index: 10000000;
        background: Black;
        height: 100%;
        width: 100%;
        margin: auto;
    }

    .dataTables_filter {
        float: right;
    }
</style>


<div class="col-md-12">
    <div class="col-md-4"></div>
    <div class="col-md-4">

        <div class="col-md-12">
            <table  border="0" width="500" align="center">
                <tr>
                    <td><label>Nama Client</label></td>
                    <td><label>:</label></td>
                    <td width="300"><input class="form-control required" type="text" id="txtNamaClient" required /></td>
                </tr>
                <tr>
                    <td><label>Contact Person</label></td>
                    <td><label>:</label></td>
                    <td><input class="form-control required" type="text" id="txtContactPerson" required /></td>
                </tr>
                <tr>
                    <td><label>Phone</label></td>
                    <td><label>:</label></td>
                    <td><input class="form-control required" onkeypress="return isNumberKey(event)" id="txtPhone" type="text" required /></td>
                </tr>
                <tr>
                    <td><label>E-mail</label></td>
                    <td><label>:</label></td>
                    <td><input class="form-control required" id="txtEmail" type="email" /></td>
                </tr>

                <tr>
                    <td><input id="btnSave" class="btn btn-success" type="button" value="Save Client" />
                    <input id="btnCancel" class="btn btn-danger" type="button" value="Cancel" /></td>

                </tr>
            </table>
        </div>

        </div>
    <div class="col-md-4"></div>



</div>
<div class="col-md-12">
    <table id="tblClient" class="table table-striped table-bordered" width="100%">
        <thead>
            <tr>

                <th>Client Id</th>
                <th>Nama Client</th>
                <th>Contact Person</th>
                <th>Phone</th>
                <th>E-Mail</th>
                <th>Aksi</th>

            </tr>
        </thead>

    </table>
</div>
<div id="dvLoader" class="LoadingDiv" style="display: none;">
    <table style="height: 100%; margin: auto;">
        <tr>
            <td style="vertical-align: middle;">
                <center>
                    <img src="http://www.girlsgotit.org/images/form-loader.gif" alt="Loading" />
                </center>
            </td>
        </tr>
    </table>
</div>
<input type="hidden" id="hdnPID" value="0" />
<script type="text/javascript">

    $(document).ready(function () {

        windowResize();
        $(window).resize(function () {
            windowResize();
        });
        $('#toast-container').find('.toast-top-center').removeClass('.toast-top-center');
        toastr.options = {
            "closeButton": true,
            'autoWidth': false,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "3000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        $("#btnSave").click(function () {
            var PID = $("#hdnPID").val();
            var NamaClient = $("#txtNamaClient").val();
            var ContactPerson = $("#txtContactPerson").val();
            var Phone = $("#txtPhone").val();
            var Email = $("#txtEmail").val();

            if (CheckRequiredFields()) {

                $('#dvLoader').show();
                $.ajax({
                    url: '@Url.Action("SaveAndUpdateClient", "MasterClient")',
                        type: 'POST',
                        data: JSON.stringify({ "PID": parseInt(PID), "namaClient": NamaClient, "contactPerson": ContactPerson, "phone": Phone, "email": Email}),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            $('#dvLoader').hide();

                            if (result.Status == "True") {
                                toastr.success(result.Message);
                                clear();
                                display();
                            }
                            else {
                                toastr.success(result.Message);
                                clear();
                                display();

                            }
                        }
                    });

                }

        });

        $("#btnCancel").click(function () {
            clear();
        });

    });
        function CheckRequiredFields() {
            var isValid = true;
            $('.required').each(function () {
                if ($.trim($(this).val()) == '') {
                    isValid = false;
                    $(this).addClass('red_border');


                }
                else {
                    $(this).removeClass('red_border');

                }
            });
            return isValid;
        }

        function checkemail(valemail) {
            var forgetfilter = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (forgetfilter.test(valemail)) {
                return true;
            }
            else {
                return false;
            }
        }
        function clear() {
            $("#txtNamaClient").val("");
            $("#txtContactPerson").val("");
            $("#txtPhone").val("");
            $("#txtEmail").val("");
            $('#btnSave').val("Save Client");
            $("#hdnPID").val(0);
        }
        function display() {
            $('#dvLoader').show();
            Table = $('#tblClient').DataTable({

                "processing": true,
                "serverSide": false,
                "paging": true,
                "ordering": true,
                "info": true,
                "searching": true,
                "bFilter": false,
                "scrollX": "100%",
                "scrollY": ($(window).height() - 500),
                "sScrollXInner": "100%",
                "bScrollCollapse": true,
                "sAjaxSource": '@Url.Action("GetClient","MasterClient")',
                "bDestroy": true,
                "bLengthChange": true,
                "bPaginate": true,
                "sEmptyTable": "Loading data from server",

                "columns": [

                    {
                        "sWidth": "5%",
                        "sClass": "TextCenter PID",
                        "render": function (data, type, row) {
                            return row[0];
                        }
                    },
                    { "sWidth": "5%", "sClass": "TextCenter NamaClient", "render": function (data, type, row ) { return (row[1]); } },
                    { "sWidth": "5%", "sClass": "TextCenter ContactPerson", "render": function (data, type, row ) { return (row[2]); } },
                    { "sWidth": "5%", "sClass": "TextCenter Phone", "render": function (data, type, row) { return (row[3]); } },
                    { "sWidth": "5%", "sClass": "TextCenter Email", "render": function (data, type, row) { return (row[4]); } },

                     {
                         "bSortable": false,
                         "sClass": "TextCenter",
                         "sWidth": "3%",
                         "render": function (data, type, row) {
                             return '<center><a href="javascript:void(0);"  onclick=deleteData("' + row[0] + '"); return false;> <i class="glyphicon glyphicon-trash"></i></a>&nbsp;&nbsp;<a href="javascript:void(0);"  onclick=EditData(this); return false;> <i class="glyphicon glyphicon-edit"></i></a></center>';
                         }, "targets": 0,
                     }

                ],

            });
            $('#dvLoader').hide();
        }
    function windowResize() {
        display();

    };
    function deleteData(id) {
        var PID = parseInt(id);
        bootbox.confirm({
            title: 'Remove Client',
            message: 'Anda yakin ingin menghapus data ini?',
            buttons: {
                'cancel': {
                    label: 'No',
                    className: 'btn-default pull-right'
                },
                'confirm': {
                    label: 'Yes',
                    className: 'btn-primary margin-right-5'
                }
            },
            callback: function (result) {
                if (result) {
                    $('#dvLoader').show();
                    $.ajax({
                        url: '@Url.Action("DeleteClient", "MasterClient")',
                        type: 'POST',
                        data: JSON.stringify({ "id": id }),
                        contentType: 'application/json; charset=utf-8;',
                        success: function (result) {
                            windowResize();
                            $('#dvLoader').hide();

                            if (result.Status == "True") {
                                toastr.success(result.Message);
                                clear();
                            }
                            else {
                                toastr.success(result.Message);

                            }
                        }
                    });
                }
            }
        });
    }
    function EditData(row) {
        debugger

        var PID = $(row).closest('tr').find('.PID').html();
        $("#hdnPID").val(parseInt(PID));

        var NamaClient = $(row).closest('tr').find('.NamaClient').html();
        $('#txtNamaClient').val(NamaClient);

        var ContactPerson = $(row).closest('tr').find('.ContactPerson').html();
        $('#txtContactPerson').val(ContactPerson);

        var Phone = $(row).closest('tr').find('.Phone').html();
        $('#txtPhone').val(Phone);

        var Email = $(row).closest('tr').find('.Email').html();
        $('#txtEmail').val(Email);

        $('#btnSave').val("Update Client");
    }
    function isNumberKey(evt) {
        var charcode = (evt.which) ? evt.which : evt.keycode
        if (charcode > 31 && (charcode < 48 || charcode > 58)
            && evt.keyCode != 35 && evt.keyCode != 36 && evt.keyCode != 37
            && evt.keyCode != 38 && evt.keyCode != 39 && evt.keyCode != 40
            && evt.keyCode != 46) {
            return false;
        }
        else {
            return true;
        }
    }
</script>



















(MODAL POP-UP MENUMPANG SEMENTARA DI FILE INI)
<script>
    $("#btnSave2").click(function () {
        var ProjectId = 1;

        var Version = $("#txtVersion").val();
        var StartDate = $("#txtStartDate").val();
        var EndDate = $("#txtEndDate").val();

        var CreatedDate = "2018-10-10";
        var CreatedBy = "anonimous";

        if (CheckRequiredFields()) {

            $('#dvLoader').show();
            $.ajax({
                url: '@Url.Action("SaveProjectSchedule", "MasterClient")',
                type: 'POST',
                data: JSON.stringify({ "ProjectId": ProjectId, "Version": Version, "StartDate": StartDate, "EndDate": EndDate, "CreatedDate": CreatedDate, "CreatedBy": CreatedBy }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    $('#dvLoader').hide();

                    if (result.Status == "True") {
                        toastr.success(result.Message);
                        clear();
                        display();
                    }
                    else {
                        toastr.success(result.Message);
                        clear();
                        display();

                    }
                }
            });

        }

    });
</script>


<button class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalForm">
    Create New Project Schedule
</button>

<!-- Modal -->
<div class="modal fade" id="modalForm" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Tutup</span>
                </button>
                <h4 class="modal-title" id="labelModalKu">Insert Project Schedule</h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <p class="statusMsg"></p>
                <form role="form">
                    <div class="form-group">
                        <label for="">Project Name</label>
                        <input type="text" class="form-control" id="txtProjectName" placeholder="(Nama Project)" value="(GET nama projek by ID)" />
                    </div>
                    <div class="form-group">
                        <label for="">Version</label>
                        <input type="text" class="form-control" id="txtVersion" placeholder="Masukkan Version" />
                    </div>
                    <div class="form-group">
                        <label for="">Start Date</label>
                        <input type="date" class="form-control" id="txtStartDate" placeholder="Masukkan Start Date" />
                    </div>
                    <div class="form-group">
                        <label for="">End Date</label>
                        <input type="date" class="form-control" id="txtEndDate" placeholder="Masukkan End Date" />
                    </div>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                <!--button type="submit" class="btn btn-primary submitBtn">Save</!--button>  -->
                <input id="btnSave2" class="btn btn-primary submitBtn" type="button" value="Save Client" />
            </div>
        </div>
    </div>
</div>









